.charmander {
    background-image: url("../assets/images/Charmander Bailando.gif");
    background-size: cover;
}

.squirtle {
    background-image: url("../assets/images/Squirtle Llorando.gif");
    background-size: cover;
}

.bulbasaur {
    background-image: url("../assets/images/Bulbasaur Feliz.gif");
    background-size: cover;
}

.navbar {
    background-color: rgba(22, 22, 22, 0.2);
    text-align: center;
    border-radius: 0% 0% 50% 50%;
    padding: 10px;
    margin-top: -8px;
    margin-left: 400px;
    margin-right: 400px;
}

.pokeball {
    padding: 0px 10px 0px 10px;
    transition: all .2s ease-in-out;
}

.pokeball:hover {
    transform: scale(120%);
    transform: rotate(25deg);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#selected {
    cursor: default;
    transform: scale(120%);
}

.portfolio {
    background-color: rgba(22, 22, 22, 0.2);
    text-align: center;
    position: absolute;
    border-radius: 0% 50% 50% 0%;
    padding: 10px 16px 8px 10px;
    left: 0;
    top: 0;
}

.portfolio-img {
    cursor: pointer;
    margin-left: -4px;
    transition: all .2s ease-in-out;
}

.portfolio-img:hover {
    transform: scale(110%);
    filter: invert();
    transition: all .2s ease-in-out;
}

.box {
    position: center;
    height: 180px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(34, 34, 34, 0.8);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    margin: 100px 180px 0px 180px;
}

.box .content {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 25%;
    bottom: 0;
    padding-top: 20px;
    border-radius: 50% 50% 0% 0%;
}

.icon {
    padding: 0px 5px 0px 5px;
    transition: all .2s ease-in-out;
}

.icon:hover {
    transform: scale(120%);
    filter: invert();
    transition: all .2s ease-in-out;
}