body {
    background-image: url("https://64.media.tumblr.com/4cb7e9fd040b6c5a2468212fe0d9e220/tumblr_ngllatQNeN1tqptlzo1_500.gifv");
    background-size: cover;
}

div {
    text-align: center;
    padding: 100px 100px 100px 100px;
    background-color: #333333;
    border: 1px solid #000000;
    opacity: 0.2;
}