<main class="h-screen w-screen flex flex-col items-center justify-center bg-secondary">
    <navbar-component class="w-full" actualView="experience"></navbar-component>

    <section class="h-1/2 md:h-4/5 max-w-md w-full bg-black bg-opacity-40 p-2 border border-neutral-900 rounded-md">
        <div class="w-full h-full py-3 px-4 text-white bg-black bg-opacity-20 border border-neutral-900 rounded-md">
            <section class="w-full flex items-center justify-between">
                <h2 (click)="changeView(0)" class="font-fira font-medium {{ activeView == 0 ? 'text-red-400' : 'text-red-900 hover:text-red-400' }} animate-fade-right transition-all cursor-pointer">Experiencia</h2>
                <h2 (click)="changeView(1)" class="font-fira font-medium {{ activeView == 1 ? 'text-red-400' : 'text-red-900 hover:text-red-400' }} animate-fade-left transition-all cursor-pointer">Logros</h2>
            </section>
            <p class="{{ activeView == 0 ? 'text-start' : 'text-end' }} my-2 font-montserrat text-sm text-neutral-300 animate-fade after:w-[6px] after:bg-neutral-300 after:h-[2px] after:animate-pulse after:inline-flex">
                {{ text }}
            </p>
            <section class="w-full h-full py-2 max-h-80 md:max-h-[21rem] rounded-md px-3 border border-neutral-900">
                @if (data) {
                    @if (activeView == 0) {
                        <swiper-container class="w-full h-full animate-fade" pagination=true style="--swiper-pagination-bullet-inactive-color: rgb(127 29 29 / var(--tw-text-opacity)); --swiper-pagination-color: rgb(248 113 113 / var(--tw-text-opacity)); --swiper-pagination-bottom: 0px;" slides-per-view="1">
                            @for (experiencia of data.experience; track experiencia) {
                                <swiper-slide>
                                    <!--? Header -->
                                    <section class="w-full flex items-end justify-between">
                                        <div>
                                            <h4 class="font-semibold font-montserrat text-xs lg:text-sm md:text-sm text-red-300">{{ experiencia.puesto }}</h4>
                                            <p class="font-quicksand text-xs text-neutral-300">
                                                <span>{{ experiencia.duracion }}</span>
                                                <span class="mx-2">-</span>
                                                <a href="{{ experiencia.empleador.url }}" target="_blank" class="text-red-300 cursor-pointer hover:text-red-400 transition-all">{{ experiencia.empleador.nombre }}</a>
                                            </p>
                                        </div>
                                        <a href="{{ experiencia.empleador.url }}" target="_blank">
                                            <img class="rounded-md w-16 h-16 aspect-square object-contain" src="/data{{ experiencia.empleador.imagen }}" alt="{{ experiencia.empleador.nombre }}">
                                        </a>
                                    </section>
                                    <!--? Descripción -->
                                    <p class="font-quicksand text-xs text-neutral-300 my-2">{{ experiencia.descripcion }}</p>
                                    <!--? Actividades -->
                                    <section>
                                        <h4 class="font-montserrat text-xs md:text-sm text-red-300">Actividades</h4>
                                        <div>
                                            @for (actividad of experiencia.actividades; track actividad) {
                                                <section class="flex items-start text-xs text-neutral-300 font-quicksand mx-2">
                                                    <span class="text-red-300">-</span>
                                                    <span class="mx-2">{{ actividad }}</span>
                                                </section>
                                            }
                                        </div>
                                    </section>
                                    <!--? Habilidades -->
                                    <section class="my-2">
                                        <h4 class="font-montserrat text-xs md:text-sm text-red-300">Habilidades</h4>
                                        <div class="flex items-center flex-wrap">
                                            @for (habilidad of experiencia.habilidades; track habilidad) {
                                                <span class="text-neutral-300 rounded-sm font-quicksand bg-neutral-950 py-0.5 px-1 mx-0.5 my-0.5 text-xs">{{ habilidad }}</span>
                                            }
                                        </div>
                                    </section>
                                </swiper-slide>
                            }
                        </swiper-container>
                    } @else {
                        <swiper-container class="w-full h-full" pagination=true style="--swiper-pagination-bullet-inactive-color: rgb(127 29 29 / var(--tw-text-opacity)); --swiper-pagination-color: rgb(248 113 113 / var(--tw-text-opacity)); --swiper-pagination-bottom: 0px;" slides-per-view="1">
                            @for (logro of data.logros; track logro) {
                                <swiper-slide>
                                    <!--? Header -->
                                    <section class="w-full flex items-end justify-between">
                                        <div>
                                            <h4 class="font-semibold font-montserrat text-sm text-red-300">{{ logro.titulo }}</h4>
                                            <p class="font-quicksand m-0 text-xs text-neutral-300">
                                                <span class="mr-1">Otorgado por</span>
                                                <a href="{{ logro.organizador.url }}" target="_blank" class="text-red-300 cursor-pointer hover:text-red-400 transition-all">{{ logro.organizador.nombre }}</a>
                                            </p>
                                            <span class="font-quicksand text-xs text-neutral-300">{{ logro.fecha }}</span>
                                        </div>
                                        <a href="{{ logro.organizador.url }}" target="_blank">
                                            <img class="rounded-md w-16 h-16 aspect-square object-contain" src="/data{{ logro.organizador.imagen }}" alt="{{ logro.organizador.nombre }}">
                                        </a>
                                    </section>
                                    <p class="font-quicksand text-xs text-neutral-300 my-2">{{ logro.reconocimiento }}</p>
                                    @if (logro.documentos) {
                                        <h4 class="font-montserrat text-sm text-red-300">Documentos</h4>
                                        <section class="flex items-center flex-wrap my-2">
                                            @for (documento of logro.documentos; track documento) {
                                                <a href="/data{{ documento.url }}" download="{{ documento.nombre }}" class="border border-neutral-100 text-neutral-100 hover:border-red-300 hover:text-red-300 transition-all cursor-pointer text-center text-xs font-quicksand rounded-sm py-0.5 px-2">
                                                    {{ documento.nombre }}
                                                </a>
                                            }
                                        </section>
                                    }
                                    <!--
                                    <section>
                                        <h4 class="font-montserrat text-sm text-red-300">Actividades</h4>
                                        <div>
                                            @for (actividad of experiencia.actividades; track actividad) {
                                                <section class="flex items-start text-xs text-neutral-300 font-quicksand mx-2">
                                                    <span class="text-red-300">-</span>
                                                    <span class="mx-2">{{ actividad }}</span>
                                                </section>
                                            }
                                        </div>
                                    </section>
                                    <section class="my-2">
                                        <h4 class="font-montserrat text-sm text-red-300">Habilidades</h4>
                                        <div class="flex items-center flex-wrap">
                                            @for (habilidad of experiencia.habilidades; track habilidad) {
                                                <span class="text-neutral-300 rounded-sm font-quicksand bg-neutral-950 py-0.5 px-1 mx-0.5 my-0.5 text-xs">{{ habilidad }}</span>
                                            }
                                        </div>
                                    </section>
                                    -->
                                </swiper-slide>
                            }
                        </swiper-container>
                    }
                }
            </section>
        </div>
    </section>
</main>