---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar';
---

<Layout>
	<Navbar />
	<main class="text-neutral-900 my-8 md:my-16 md:max-w-md mx-auto">
		<p class="whitespace-pre-line animate-fade">
			I'm a recently graduated Computer Engineer passionate about innovation and continuous learning.

			I'm commited to delivering efficient technological solutions and with the ability to adapt quickly to new scenarios, technologies and challenges.
			
			I have experience in <b>Fullstack development</b>, <b>Mobile development</b>, and some in <b>Machine Learning/Deep Learning</b> and <b>Data Science</b>.
		</p>
		<section class="my-6">
			<p class="animate-fade">Let's keep in touch :-)</p>
			<div class="grid grid-cols-2 md:flex my-2 font-semibold transition-all w-full justify-between text-sm md:text-base">
				<a class="group flex items-center hover:text-neutral-600 text-neutral-800 transition-all animate-fade-right animate-delay-200"
				href="https://github.com/Alwexis" target="_blank">
					<svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5.884 18.653c-.3-.2-.558-.455-.86-.816a51 51 0 0 1-.466-.579c-.463-.575-.755-.841-1.056-.95a1 1 0 1 1 .675-1.882c.752.27 1.261.735 1.947 1.588c-.094-.117.34.427.433.539c.19.227.33.365.44.438c.204.137.588.196 1.15.14c.024-.382.094-.753.202-1.095c-2.968-.726-4.648-2.64-4.648-6.396c0-1.24.37-2.356 1.058-3.292c-.218-.894-.185-1.975.302-3.192a1 1 0 0 1 .63-.582c.081-.024.127-.035.208-.047c.803-.124 1.937.17 3.415 1.096a11.7 11.7 0 0 1 2.687-.308c.912 0 1.819.104 2.684.308c1.477-.933 2.614-1.227 3.422-1.096q.128.02.218.05a1 1 0 0 1 .616.58c.487 1.216.52 2.296.302 3.19c.691.936 1.058 2.045 1.058 3.293c0 3.757-1.674 5.665-4.642 6.392c.125.415.19.878.19 1.38c0 .665-.002 1.299-.007 2.01c0 .19-.002.394-.005.706a1 1 0 0 1-.018 1.958c-1.14.227-1.984-.532-1.984-1.525l.002-.447l.005-.705c.005-.707.008-1.337.008-1.997c0-.697-.184-1.152-.426-1.361c-.661-.57-.326-1.654.541-1.751c2.966-.333 4.336-1.482 4.336-4.66c0-.955-.312-1.744-.913-2.404A1 1 0 0 1 17.2 6.19c.166-.414.236-.957.095-1.614l-.01.003c-.491.139-1.11.44-1.858.949a1 1 0 0 1-.833.135a9.6 9.6 0 0 0-2.592-.349c-.89 0-1.772.118-2.592.35a1 1 0 0 1-.829-.134c-.753-.507-1.374-.807-1.87-.947c-.143.653-.072 1.194.093 1.607a1 1 0 0 1-.189 1.045c-.597.655-.913 1.458-.913 2.404c0 3.172 1.371 4.328 4.322 4.66c.865.097 1.202 1.177.545 1.748c-.193.168-.43.732-.43 1.364v3.15c0 .985-.834 1.725-1.96 1.528a1 1 0 0 1-.04-1.962v-.99c-.91.061-1.661-.088-2.254-.485"/></svg>
					<span class="flex flex-col w-fit after:max-w-0 group-hover:after:max-w-full after:w-full after:bg-neutral-600 after:h-0.5 after:transition-all after:duration-500">Github</span>
				</a>
				<a class="group flex items-center hover:text-neutral-600 text-neutral-800 transition-all animate-fade-right animate-delay-[400ms]"
				href="https://www.linkedin.com/in/arielsilvar/" target="_blank">
					<svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4.001 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1h-16a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1m1 2v14h14V5zm2.5 4a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m-1 1h2v7.5h-2zm5.5.43c.584-.565 1.266-.93 2-.93c2.071 0 3.5 1.679 3.5 3.75v4.25h-2v-4.25a1.75 1.75 0 1 0-3.5 0v4.25h-2V10h2z"/></svg>
					<span class="flex flex-col w-fit after:max-w-0 group-hover:after:max-w-full after:w-full after:bg-neutral-600 after:h-0.5 after:transition-all after:duration-500">Linkedin</span>
				</a>
				<a class="group flex items-center hover:text-neutral-600 text-neutral-800 transition-all animate-fade-right animate-delay-[600ms]"
				href="https://x.com/Alwexisss" target="_blank">
					<svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m17.687 3.063l-4.996 5.711l-4.32-5.711H2.112l7.477 9.776l-7.086 8.099h3.034l5.469-6.25l4.78 6.25h6.102l-7.794-10.304l6.625-7.571zm-1.064 16.06L5.654 4.782h1.803l10.846 14.34z"/></svg>
					<span class="flex flex-col w-fit after:max-w-0 group-hover:after:max-w-full after:w-full after:bg-neutral-600 after:h-0.5 after:transition-all after:duration-500">Twitter</span>
				</a>
				<a class="group flex items-center hover:text-neutral-600 text-neutral-800 transition-all animate-fade-right animate-delay-[800ms]"
				href="mailto:arielsilvar.dev@gmail.com" target="_blank">
					<svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 12a8 8 0 1 0-3.562 6.657l1.11 1.664A9.95 9.95 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10v1.5a3.5 3.5 0 0 1-6.396 1.966A5 5 0 1 1 15 8h2v5.5a1.5 1.5 0 0 0 3 0zm-8-3a3 3 0 1 0 0 6a3 3 0 0 0 0-6"/></svg>
					<span class="flex flex-col w-fit after:max-w-0 group-hover:after:max-w-full after:w-full after:bg-neutral-600 after:h-0.5 after:transition-all after:duration-500">Email</span>
				</a>
			</div>
		</section>
	</main>
</Layout>
