/*
? Pokémon
* Usada para los Títulos.
*/
@font-face {
    font-family: pokemon;
    src: url(./../assets/fonts/Pokemon.ttf);
}

/*
? Pokémon Clasic
* Usada para todo tipo de texto
*/
@font-face {
    font-family: 'pokemon classic';
    src: url(./../assets/fonts/Pokemon_Classic.ttf);
}

/*
? Pokémon XY
* Usada para todo tipo de texto
*/
@font-face {
    font-family: 'pokemon xy';
    src: url(./../assets/fonts/Pokemon_XY.ttf);
}