@import './fonts.css';
@import './variables.css';

html {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.title {
    display: flex;
    align-items: center;
}

.title svg {
    width: 8vh;
    height: 8vh;
    margin: 2vh 2vh 0vh 2vh;
    filter: drop-shadow(0px 1px 4px black);
}

.title h1 {
    font-family: 'pokemon classic';
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'pokemon xy';
    border-top: 2px solid;
    padding: 1.5vh 4vh 0vh 4vh;
}

.subtitle p {
    margin: 0;
    font-size: 2.2vh;
}

#options-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 8vh 0vh;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'pokemon xy';
    width: 24vw;
    height: 10vw;
    margin: 2vh 2vh;
    padding: 0vh 2vh;
    border-radius: 2vh;
    cursor: pointer;
    color: whitesmoke;
}

.option span {
    font-weight: 800;
    padding: 0vh 2vh;
}

.option p {
    margin: 0;
    font-size: 2.4vh;
    padding: 0vh 2vh;
}

.option svg {
    position: fixed;
    height: 12vw !important;
    width: 12vw !important;
    fill: rgba(255, 255, 255, 0.2);
    display: flex;
    align-self: flex-end;
}

.option:hover svg {
    animation: pokeballRotation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.option:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.6);
    border: 1px solid rgb(190, 0, 0);
}

.option:nth-child(2) {
    background-color: rgba(253, 125, 36, 0.6);
    border: 1px solid rgb(253, 125, 36);
}

.option:nth-child(3) {
    background-color: rgba(114, 159, 63, 0.6);
    border: 1px solid rgb(114, 159, 63);
}

.option:nth-child(4) {
    background-color: rgba(123, 98, 163, 0.6);
    border: 1px solid rgb(123, 98, 163);
}

.option:nth-child(5) {
    background-color: rgba(69, 146, 196, 0.6);
    border: 1px solid rgb(69, 146, 196);
}

.option:nth-child(6) {
    background-color: rgba(68, 68, 68, 0.6);
    border: 1px solid rgb(68, 68, 68);
}

@keyframes pokeballRotation {
    from { transform: translateX(0px) rotate(0deg); }
    to { transform: translateX(-120px) rotate(360deg); }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

footer p {
    font-family: 'pokemon classic';
    font-size: 1.6vh;
    word-break: break-word;
    white-space: pre-line;
    text-align: center;
}