:root {
    --normal-type: #a4acaf;
    --normal-type-bg: rgba(164, 172, 175, 0.95);
    --normal-type-text: #212121;
    --fighting-type: #d56723;
    --fighting-type-bg: rgba(213, 103, 35, 0.95);
    --fighting-type-text: #fff;
    --flying-type: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    --flying-type-bg: linear-gradient(100deg, rgba(61, 199, 239, 0.95) 50%, rgba(189, 185, 184, 0.95) 50%);
    --flying-type-text: #212121;
    --poison-type: #b97fc9;
    --poison-type-bg: rgba(185, 127, 201, 0.95);
    --poison-type-text: #fff;
    --ground-type: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    --ground-type-bg: linear-gradient(100deg, rgba(247, 222, 63, 0.95) 50%, rgba(171, 152, 66, 0.95) 50%);
    --ground-type-text: #212121;
    --bug-type: #729f3f;
    --bug-type-bg: rgba(114, 159, 63, 0.95);
    --bug-type-text: #fff;
    --ghost-type: #7b62a3;
    --ghost-type-bg: rgba(123, 98, 163, 0.95);
    --ghost-type-text: #fff;
    --steel-type: #9eb7b8;
    --steel-type-bg: rgba(158, 183, 184, 0.95);
    --steel-type-text: #212121;
    --fire-type: #fd7d24;
    --fire-type-bg: rgba(253, 125, 36, 0.95);
    --fire-type-text: #fff;
    --water-type: #4592c4;
    --water-type-bg: rgba(69, 146, 196, 0.95);
    --water-type-text: #fff;
    --grass-type: #9bcc50;
    --grass-type-bg: rgba(155, 204, 80, 0.95);
    --grass-type-text: #212121;
    --electric-type: #eed535;
    --electric-type-bg: rgba(238, 213, 53, 0.95);
    --electric-type-text: #212121;
    --psychic-type: #f366b9;
    --psychic-type-bg: rgba(243, 102, 185, 0.95);
    --psychic-type-text: #fff;
    --ice-type: #51c4e7;
    --ice-type-bg: rgba(81, 196, 231, 0.95);
    --ice-type-text: #212121;
    --dragon-type: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    --dragon-type-bg: linear-gradient(100deg, rgba(83, 164, 207, 0.95) 50%, rgba(241, 110, 87, 0.95) 50%);
    --dragon-type-text: #fff;
    --dark-type: #707070;
    --dark-type-bg: rgba(112, 112, 112, 0.95);
    --dark-type-text: #fff;
    --fairy-type: #fdb9e9;
    --fairy-type-bg: rgba(253, 185, 233, 0.95);
    --fairy-type-text: #212121;
    --rock-type: #a38c21;
    --rock-type-bg: rgba(163, 140, 33, 0.95);
    --rock-type-text: #fff;
}