/*? Cozette */
@font-face {
    font-family: cozette;
    src: url(./../assets/fonts/Cozette.ttf);
}

/*? Camingo */
@font-face {
    font-family: 'Camingo Code';
    src: url(./../assets/fonts/CamingoCode-Regular.ttf);
}

@font-face {
    font-family: 'Camingo Code';
    font-style: italic;
    src: url(./../assets/fonts/CamingoCode-Italic.ttf);
}

@font-face {
    font-family: 'Camingo Code';
    font-style: italic;
    font-weight: bold;
    src: url(./../assets/fonts/CamingoCode-BoldItalic.ttf);
}

@font-face {
    font-family: 'Camingo Code';
    font-weight: bold;
    src: url(./../assets/fonts/CamingoCode-Bold.ttf);
}